# --- Virtual Environments ---
# --- Environment ---
.env
env/
venv/

# --- Python Internals ---
__pycache__/
*$py.class
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
**/__pycache__/

*.py[cod]


# --- Data & Databases ---
data/**/*
!data/.gitkeep

# --- Logs ---
*.log
logs/

# --- Distribution / Packaging ---
dist/
build/
*.egg-info/
